USE [master]
GO
/****** Object:  Database [ТАЧИЛА]    Script Date: 05.03.2022 10:05:58 ******/
CREATE DATABASE [ТАЧИЛА]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ТАЧИЛА', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ТАЧИЛА.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ТАЧИЛА_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ТАЧИЛА_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ТАЧИЛА].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ТАЧИЛА]
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 05.03.2022 10:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[id] [int] NULL,
	[middlename] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[passport serial] [varchar](50) NULL,
	[passport number] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[jobname] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[photo] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[drivers] ([id], [middlename], [name], [passport serial], [passport number], [address], [company], [jobname], [phone], [email], [photo]) VALUES (1, N'Caleb', N'Alonso@Hopkins', N'!2303', N'}160716', N'452 Cobblestone St.', N'Global Gillette', N'Reporter', N'(970 383/8933', N'skippy@icloud.com', N'001-happy-18.png')
INSERT [dbo].[drivers] ([id], [middlename], [name], [passport serial], [passport number], [address], [company], [jobname], [phone], [email], [photo]) VALUES (2, N'Susannah', N'Kaydence@Sellers', N'!5563', N'}160745', N'Hyattsville, MD 20782', N'Coca-Cola', N'Elementary School Teacher', N'(867 708/4447', N'isotopian@sbcglobal.net', N'002-cool-5.png')
INSERT [dbo].[drivers] ([id], [middlename], [name], [passport serial], [passport number], [address], [company], [jobname], [phone], [email], [photo]) VALUES (3, N'Brighton', N'Finnegan@Bray', N'!3719', N'}717453', N'9648 Philmont Lane', N'Harley-Davidson Motor Company', N'Childcare worker', N'(221 428/7850', N'isaacson@att.net', N'003-happy-17.png')
GO
USE [master]
GO
